{
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "semi": false,
  "useTabs": false,
  "overrides": [
    {
      "files": ".gitlab-ci.yml",
      "options": {
        "useTabs": false,
        "quoteProps": "preserve"
      }
    }
  ]
}